<div class="container">

    <div class="h1">Hello
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
        </style>
    </div>
    <div class="h2">Şahin!
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
        </style>
    </div>

    <div class="p">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400&display=swap');
        </style><span style="color:#A1A1A1">You have</span>
        <span style="color:#2B34E9"> {{(todos | todo:'today').length}} new task </span>
        <span style="color:#A1A1A1">today</span></div>

</div>
<div class="lists">

    <div class="card1">
        <div class="cardname"> <i class="material-icons">description</i><span>Past</span>
        </div>
        <div class="colon" *ngFor="let item of todos | todo:'past' | array">
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
            </style>
            <div class="details">
                <p class="col">
                    <mat-checkbox [(ngModel)]="item.done" (ngModelChange)="persistChanges()"></mat-checkbox> {{item.name}} </p>
                <p class="row"> {{item.date | date: "short"}} </p>
            </div>
            <button mat-icon-button class="options" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon  class="option-icon">more_vert</mat-icon>
              </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="removeItem(item)">Delete</button>
                <button mat-menu-item (click)="openDialog(item)">Edit</button>
            </mat-menu>
        </div>


    </div>

    <div class="card2">
        <div class="cardname"> <i class="material-icons">description</i><span>Today</span></div>
        <div class="colon" *ngFor="let item of todos | todo:'today' | array">
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
            </style>
            <div class="details">
                <p class="col">
                    <mat-checkbox [(ngModel)]="item.done" (ngModelChange)="persistChanges()"></mat-checkbox> {{item.name}} </p>
                <p class="row"> {{item.date | date: "short"}} </p>
            </div>

            <button mat-icon-button class="options" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
            <mat-icon  class="option-icon">more_vert</mat-icon>
          </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="removeItem(item)">Delete</button>
                <button mat-menu-item (click)="openDialog(item)">Edit</button>
            </mat-menu>
        </div>
    </div>

    <div class="card3">
        <div class="cardname"> <i class="material-icons">description</i><span>Future</span></div>
        <div class="colon" *ngFor="let item of todos | todo:'future' | array | doneorder">
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
            </style>
            <div class="details">
                <p class="col">
                    <mat-checkbox [(ngModel)]="item.done" (ngModelChange)="persistChanges()"></mat-checkbox> {{item.name}}
                </p>
                <p class="row"> {{item.date | date: "short"}}
                </p>
            </div>



            <button mat-icon-button class="options" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon class="option-icon">more_vert</mat-icon> 
                  </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="removeItem(item)">Delete</button>
                <button mat-menu-item (click)="openDialog(item)">Edit</button>
            </mat-menu>


        </div>
    </div>
</div>

<div class="addtask">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style><button (click)="openDialog(undefined)" href="#" class="hbtn hb-fill-on-rev hpad3 hpill hbor1" style="outline: none;">Add new task</button></div>